<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WindowsAppStudio.Common" version="1.0.1" targetFramework="wpa81" />
  <package id="WindowsAppStudio.DataProviders" version="1.0.1" targetFramework="wpa81" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="wpa81" />
</packages>
