<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest"
         xmlns:appstudio="http://schemas.microsoft.com/developer/appx/2015/appstudio" 
         IgnorableNamespaces="appstudio">
    
  <Identity Name="a5e83291-bbfa-40cd-b9a7-2414f196b75c" Publisher="CN=AppStudio" Version="1.0.3.1" />

  <Properties>
    <DisplayName>AppStudio App</DisplayName>
    <PublisherDisplayName>AppStudio</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="NeuroCogFeeds.App">
      <m2:VisualElements DisplayName="NeuroCogFeeds" Description="Use this to create an app from scratch."
                         ForegroundText="light" 
                         BackgroundColor="#000000"
                         Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">

        <m2:DefaultTile ShortName="NeuroCogFeeds"
                        Wide310x150Logo="Assets\Wide310x150Logo.png"
                        Square70x70Logo="Assets\Square70x70Logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000"/>
        <m2:ApplicationView MinWidth="width320" />
      </m2:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
    
  <appstudio:Metadata>
    <appstudio:Item Name="appId" Value="58d59283-bb51-49ea-bc1d-201f9c934d00" />
    <appstudio:Item Name="model" Version="1.11.1" />
    <appstudio:Item Name="formula" Value="Win81" Version="1.12.0830.1" />
    <appstudio:Item DataSource="Html" Version="1.0.1"/>
    <appstudio:Item DataSource="Rss" Version="1.0.1"/>
  </appstudio:Metadata>
</Package>
